# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# C extensions
*.so

# Virtual environment
venv/
ENV/
env/
.venv/
env.bak/
*.env

# Packages
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
wheels/
sdist/
*.pip

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
# Usually these files are written by a python script from a compiled package
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
*.db

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# Pyre type checker
.pyre/

# VSCode config
.vscode/

# MacOS specific
.DS_Store
